<div style="height: 800px;" layout="column" layout-align="center stretch" ng-controller="AboutCtrl"> 
	<div class="aboutContainer">
		<div class="pageContainer">
			<div layout="row" layout-xs="column" style="margin: 2%;">
				<div flex layout="column" style="z-index: 2;">
					<div>
						<md-card class="about-card animated slideInLeft">
							<md-card-header style="padding-bottom: 0;">
								<md-card-header-text>
									<h3 style="color: #009688; font-size: 1.5em;">About Me</h3>
								</md-card-header-text>
							</md-card-header>
							<md-card-content style="padding-top: 0;">
								<div>
									<p>
										Hi! My name is Colt Street and I am a full stack developer with a personal priority focus on front end development and web design. I currently reside in Arlington, Va. and work for Deloitte Consulting in the Federal sector. Developing unique and engaging websites and web applications is a passion of mine. Most of my current work (along with this website) exhibits my proficiency in the utilization of AngularJS and Material Design. However, I enjoy expanding my knowledge by learning new and exciting languages that will help to further my craft in web development. 
									</p>
									<p>
										When I'm not immersed in code and web applications, I enjoy sports of almost any kind. Because of the complexity and spontaneity of these two worlds, finding ways to incorporate web design and sports has become a passion of mine. Apart from this, my aspirations include exploring new ways to display and interact with the user, regardless of the content. Overall, I enjoy building websites and creating web applications, watching movies and playing basketball with my amazing girlfriend (3x Co-Ed league champs), sipping on a nice cold beer, and just enjoying what life decides to throw at me.
									</p> 
									<p>
										Below you'll find some examples of some simple use cases using D3 and Leaflet, as well as, some pet project websites I've created.
									</p>
									<p>
										Feel free to contact me with any suggestions/oppurtunities.  Thanks for visiting my page and enjoy!
									</p>
								</div>
								<div>
									<md-button style="background: #009688; color: #212121; margin: 0;">
										<a target="_self" href="/images/Colt-Street.docx" download="Colt-Street-Resume"
											style="text-decoration: none; color: #212121">Download Resume</a>
									</md-button>
								</div>
							</md-card-content>
						</md-card>
					</div>
				</div>
				<!--<div flex>
					<div>
						<md-card class="about-card">
							<md-card-content>
								<div>
									<img width="100%" height="100%" src="/images/me-small.png"/>
								</div>
							</md-card-content>
						</md-card>
					</div>
				</div>-->
				<div flex  style="z-index: 2;">
					<div>
						<md-card class="about-card animated slideInRight">
							<md-card-header style="padding-bottom: 0;">
								<md-card-header-text>
									<h3 style="color: #009688; font-size: 1.5em;">Contact Information</h3>
								</md-card-header-text>
							</md-card-header>
							<md-card-content>
								<div ng-repeat="item in data track by $index">
									<div layout="row">
										<div class="md-list-item-text">
											<p style="color: #fff;padding-right: 20px;">{{item.label}}</p>
										</div>
										<div class="md-list-item-text">
											<p style="color: #fff">{{item.value}}</p>
										</div>
									</div>
									<md-divider ng-if="!$last" style="background: rgba(255, 255, 255, .4)"></md-divider>
								</div>
								<div layout="row">
									<div>
										<md-button class="md-fab md-mini md-primary" ng-href="https://www.linkedin.com/in/colt-street-b1b34946" target="_blank" aria-label="LinkedIn">
											<i class="fa fa-linkedin-square fa-lg" aria-hidden="true" aria-label="linkedin"></i>
											<md-tooltip>LinkedIn</md-tooltip>
										</md-button>
									</div>
									<div>
										<md-button class="md-fab md-mini md-primary" ng-href="https://github.com/COLTstreet" target="_blank" aria-label="GitHub">
											<i class="fa fa-git-square fa-lg" aria-hidden="true" aria-label="GitHub"></i>
											<md-tooltip>GitHub</md-tooltip>
										</md-button>
									</div>
									<div>
										<md-button class="md-fab md-mini md-primary" ng-href="https://bl.ocks.org/COLTstreet" target="_blank" aria-label="bl.ocks">
											<img class="png-icon" src="/images/d-three-sm.png"/>
											<md-tooltip>bl.ocks</md-tooltip>
										</md-button>
									</div>
									<div>
										<md-button class="md-fab md-mini md-primary" ng-href="mailto:colt.k.street@gmail.com?Subject=Hello!" target="_blank" aria-label="Gmail">
											<i class="fa fa-envelope" aria-hidden="true" aria-label="Gmail"></i>
											<md-tooltip>Gmail</md-tooltip>
										</md-button>
									</div>
									<div>
										<md-button class="md-fab md-mini md-primary" ng-href="https://plus.google.com/u/0/116028321943063867870" target="_blank" aria-label="Google+">
											<i class="fa fa-google-plus" aria-hidden="true" aria-label="Google"></i>
											<md-tooltip>Google+</md-tooltip>
										</md-button>
									</div>
								</div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
