<div ng-include="'views/main.html'" ng-controller="MainCtrl" onload="setActivePage('about')"></div>

<div class="divSize" layout="column" layout-align="center stretch" ng-controller="AboutCtrl"> 
	<div class="aboutContainer">
		<div class="container-text">
			<h1 style="font-size: 5em; border-bottom: 1px solid #212121; margin: 0;background: #303030;">About Me.</h1>
		</div>
	</div>
</div>

<!-- Footer -->
<div ng-include="'views/footer.html'" ng-controller="FooterCtrl" onload="setActivePage('about')"></div>
