<footer>
    <div layout="row" layout-align="center center">
        <div class="footer">
	        <div class="navFooter" layout="row" layout-align="center stretch">
				<md-content class="md-dark">
				 	<md-nav-bar md-selected-nav-item="activePage" nav-bar-aria-label="navigation links">
				    	<md-nav-item md-nav-href="home" name="home">Home</md-nav-item>
				    	<md-nav-item md-nav-href="portfolio" name="portfolio">Portfolio</md-nav-item>
				    	<md-nav-item md-nav-href="about" name="about">About Me</md-nav-item>
				  	</md-nav-bar>
				</md-content>
			</div>

			<div>
				<span style="color: #f5f5f5; font-size: 1.5em">For more information, call today at
					<b style=""> 
						(304) 771-1419
					</b>
				</span>
				<div layout="row" layout-align="center center" style="margin-top: 3%;color: white;">
					<span class="icons">
						<a style="color: white;" href="https://www.linkedin.com/in/colt-street-b1b34946" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
						<md-tooltip>LinkedIn</md-tooltip>
					</span>
					<span class="icons">
						<a style="color: white;" href="https://github.com/COLTstreet" target="_blank"><i class="fa fa-git-square fa-lg"></i></a>
						<md-tooltip>GitHub</md-tooltip>
					</span>
					<span class="icons">
						<a style="color: white;" href="https://bl.ocks.org/COLTstreet" target="_blank"><img src="/images/d-three-sm.png"></a>
						<md-tooltip>bl.ocks.org</md-tooltip>
					</span>
<!-- 					<span class="icons">
						<a style="color: white;" href="https://bl.ocks.org/COLTstreet" target="_blank"><i class="fa fa-square-o" aria-hidden="true"></i></a>
						<md-tooltip>bl.ocks.org</md-tooltip>
					</span> -->
					<span class="icons">
						<a style="color: white;" href="mailto:colt.k.street@gmail.com?Subject=Hello!" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
						<md-tooltip>Gmail</md-tooltip>
					</span>
				</div>
			</div>
        </div>
    </div>
</footer>
