<div class="page-body" layout="column" layout-align="start stretch" ng-controller="HomeCtrl">
	<div id="name-section" class="name-container" layout="row" layout-align="center center">
		<div class="name-logo" layout="row" layout-align="center center">Colt Street</div>
		<!-- <div class="ball" layout="row" layout-align="end end">
			<svg id="ball-svg"></svg>
		</div>

		<picture> 
			<source media="(min-width: 960px)" sizes="80vw" srcset="images/hoop.png"> 
			<img class="hoop-logo" src="" alt="" sizes="80vw" srcset=""> 
		</picture> -->
	</div>

	<div id="about-section" ng-include="'views/about.html'" ng-controller="AboutCtrl"></div>

	<section id="websites-section" ng-init="index=2" style="width: 100%; height: 600px;">
		<div class="content">
			<slick dots="true" class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=1>
				<div flex layout="column" layout-align="center center" class="card-ele">
					<md-card class="hoopfire full animated slideInLeft">
						<md-card-content class="comic-card-header">
							<div  layout="row" layout-align="end start">
								<div>
									<p>HoopFire</p>
								</div>
								<div>
									<md-button aria-label="About" class="md-icon-button" ng-click="hoopfireInfo = !hoopfireInfo">
										<i class="fa fa-info-circle fa-lg" aria-hidden="true" aria-label="About"></i>
									</md-button>
								</div>
								<div>
									<md-button aria-label="Link" class="md-icon-button" ng-href="https://hoopfire.netlify.com/#!/" target="_blank">
										<i class="fa fa-share-square-o fa-lg" aria-hidden="true" aria-label="GoTo"></i>
									</md-button>
								</div>
							</div>
							<div ng-if="hoopfireInfo" class="web-info animated slideInLeft">
								<p>HoopFire is a sports prediction web application. Two friends and I came up with the idea a few years back and it has been a pet project ever since.
									It was originally built using Vaadin and was rewritten in 2016. The front end is now built using AngularJS with Angular Material design principles.  
									The data is persisted using Hibernate against a MySQL database with application dependencies being managed by Spring. The application build is handled by Maven and 
									we're using Heroku to host the application.
								</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
				<div flex layout="column" layout-align="center center" class="card-ele">
					<md-card class="comic-info full animated slideInLeft">
						<md-card-content class="comic-card-header">
							<div  layout="row" layout-align="end start">
								<div>
									<p>Comic Info Search</p>
								</div>
								<div>
									<md-button aria-label="About" class="md-icon-button" ng-click="comicInfo = !comicInfo">
										<i class="fa fa-info-circle fa-lg" aria-hidden="true" aria-label="About"></i>
									</md-button>
								</div>
								<div>
									<md-button aria-label="Link" class="md-icon-button" ng-href="https://comic-info.netlify.com/#!/" target="_blank">
										<i class="fa fa-share-square-o fa-lg" aria-hidden="true" aria-label="GoTo"></i>
									</md-button>
								</div>
							</div>
							<div ng-if="comicInfo" class="web-info animated slideInLeft">
								<p>I came across the Comic Vine API and thought it was something very interesting. I decided I wanted to try and create some kind of website using the API. I settled on a search website. The user can search for any character they wish and the will return a list of results. From there, the user can choose a character and the site will display a photo and all the information about that character. I chose a 2 sided design to showcase the character images while still displaying all the information. The overall layout is designed to feel like the user is looking at a comic book page, with the gaps and border mimicing that of the comic style. The background colors are dynamic and change with the user selected character by taking advantage of VibrantJS. The site is built using NPM, Bower, Grunt, and AngularJS. I use a Github repository thats hooked up to Netlify to allow auto-publishing for any change I commit. Click the link to check it out!
								</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
				<div flex layout="column" layout-align="center center" class="card-ele">
					<md-card class="plexrequest full animated slideInLeft">
						<md-card-content class="comic-card-header">
							<div  layout="row" layout-align="end start">
								<div>
									<p>Plex Request</p>
								</div>
								<div>
									<md-button aria-label="About" class="md-icon-button" ng-click="plexInfo = !plexInfo">
										<i class="fa fa-info-circle fa-lg" aria-hidden="true" aria-label="About"></i>
									</md-button>
								</div>
								<div>
									<md-button aria-label="Link" class="md-icon-button" ng-href="https://plex-request.netlify.com" target="_blank">
										<i class="fa fa-share-square-o fa-lg" aria-hidden="true" aria-label="GoTo"></i>
									</md-button>
								</div>
							</div>
							<div ng-if="plexInfo" class="web-info animated slideInLeft">
								<p>Plex Request started as a joke between my friends and I. We wanted a way to browse movies and Tv shows we may want to watch later. It simply sends a user selected list to a friend of mine 
									who gracioulsy volunteered to maintain the full list. All information is a product of the JSON returned from using the The MovieDB API. The original site was built using Yeoman to set up the scaffolding, which includes NPM, Bower, and Grunt.
									The site is implemented with AngularJS and Angular Material Design. That site can be found <a href="https://coltstreet.github.io/plexrequest/#!/" target="_blank">here.</a> I've since redone the site. It's still uses AngularJS and Angular Material but it now manged by Gulp and is a more visually appealing.
								</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
				<div flex layout="column" layout-align="center center" class="card-ele">
					<md-card class="craigslist full animated slideInLeft">
						<md-card-content class="comic-card-header">
							<div  layout="row" layout-align="end start">
								<div>
									<p>Craigslist Redesign</p>
								</div>
								<div>
									<md-button aria-label="About" class="md-icon-button" ng-click="craigslistInfo = !craigslistInfo">
										<i class="fa fa-info-circle fa-lg" aria-hidden="true" aria-label="About"></i>
									</md-button>
								</div>
								<div>
									<md-button aria-label="Link" class="md-icon-button" ng-href="https://codepen.io/COLTstreet/full/zRbqaQ" target="_blank">
										<i class="fa fa-share-square-o fa-lg" aria-hidden="true" aria-label="GoTo"></i>
									</md-button>
								</div>
							</div>
							<div ng-if="craigslistInfo" class="web-info animated slideInLeft">
								<p>This is a simple redesign of Craigslist. It was done for a challenge on <a href="https://www.uplabs.com/users/coltstreet/showcases">Uplabs.com.</a>
								</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
				<div flex layout="column" layout-align="center center" class="card-ele">
					<md-card class="weather full animated slideInLeft">
						<md-card-content class="comic-card-header">
							<div  layout="row" layout-align="end start">
								<div>
									<p>Weather Now</p>
								</div>
								<div>
									<md-button aria-label="About" class="md-icon-button" ng-click="weatherInfo = !weatherInfo">
										<i class="fa fa-info-circle fa-lg" aria-hidden="true" aria-label="About"></i>
									</md-button>
								</div>
								<div>
									<md-button aria-label="Link" class="md-icon-button" ng-href="https://codepen.io/COLTstreet/full/zRbqaQ" target="_blank">
										<i class="fa fa-share-square-o fa-lg" aria-hidden="true" aria-label="GoTo"></i>
									</md-button>
								</div>
							</div>
							<div ng-if="weatherInfo" class="web-info animated slideInLeft">
								<p>Very minimalist weather forecasting website that obtains the current forecast for the given zip code. It was done for a challenge on <a href="https://www.uplabs.com/users/coltstreet/showcases">Uplabs.com.</a>
								</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</slick>
		</div>
	</section>
	<div id="chart-section" class="chart-container">
		<div class="chart-header" layout="row" layout-align="center center">
			<div>
				<md-button ng-class="{'button-bottom':showRadial}" class="md-mini" ng-click="radialButton()">
		            Radial
		            <md-tooltip>Radial Chart</md-tooltip>
		        </md-button>
	        </div>
	        <div>
				<md-button ng-class="{'button-bottom':showSunburst}" class="md-mini" ng-click="sunburstButton()">
		            Sunburst
		            <md-tooltip>Sunburst Chart</md-tooltip>
		        </md-button>
	        </div>
			<div>
				<md-button ng-class="{'button-bottom':showStack}" class="md-mini" ng-click="stackButton()">
					Stack/Group
		            <md-tooltip>Stacked/Grouped Bar Chart</md-tooltip>
		        </md-button>
	        </div>
			<div>
				<md-button ng-class="{'button-bottom':showStreamgraph}" class="md-mini" ng-click="streamButton()">
					Streamgraph
		            <md-tooltip>Streamgraph Chart</md-tooltip>
		        </md-button>
	        </div>
		</div>
		<div class="chart-body">
			<div class="left" ng-if="showStack">    
				<md-switch ng-model="grouped" ng-change="change(grouped)">
				    Grouped
				</md-switch>
			</div>
			<div class="left" ng-if="showStreamgraph">
				<md-button class="md-primary" style="background: #03a9f4; color: white;" ng-click="streamTransition()">
				    Update
				</md-button>
			</div>
			<svg id="chart-svg" width="100%" height="650"></svg>
		</div>
	</div>

	<!-- <div id="hoopfire-section" style="width: 100%; height: 600px;">
		<iframe src="http://www.hoopfire.win" height="600px" width="100%"></iframe>
	</div> --> 

	<div id="map-section" class="map-container">
		<div id="mapId" style="width: 100%; height: 600px;"></div>
	</div>
</div>


<!-- Footer -->
<footer>
	<div class="footer" layout="row" layout-align="center center">
		<div>
			<md-button class="md-fab md-mini md-primary" ng-href="https://www.linkedin.com/in/colt-street-b1b34946" target="_blank" aria-label="LinkedIn">
				<i class="fa fa-linkedin-square fa-lg" aria-hidden="true" aria-label="linkedin"></i>
				<md-tooltip>LinkedIn</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-mini md-primary" ng-href="https://github.com/COLTstreet" target="_blank" aria-label="GitHub">
				<i class="fa fa-git-square fa-lg" aria-hidden="true" aria-label="GitHub"></i>
				<md-tooltip>GitHub</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-mini md-primary" ng-href="https://bl.ocks.org/COLTstreet" target="_blank" aria-label="bl.ocks">
				<img class="png-icon" src="/images/d-three-sm.png"/>
				<md-tooltip>bl.ocks</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-mini md-primary" ng-href="mailto:colt.k.street@gmail.com?Subject=Hello!" target="_blank" aria-label="Gmail">
				<i class="fa fa-envelope" aria-hidden="true" aria-label="Gmail"></i>
				<md-tooltip>Gmail</md-tooltip>
			</md-button>
		</div>
		<div>
			<md-button class="md-fab md-mini md-primary" ng-href="https://plus.google.com/u/0/116028321943063867870" target="_blank" aria-label="Google+">
				<i class="fa fa-google-plus" aria-hidden="true" aria-label="Google"></i>
				<md-tooltip>Google+</md-tooltip>
			</md-button>
		</div>
	</div>
</footer>

