<!-- Nav Bar -->
<div ng-include="'views/main.html'" ng-controller="MainCtrl" onload="setActivePage('home')"></div>

<div style="height: 800px;" layout="column" layout-align="center stretch" ng-controller="HomeCtrl"> 
	<div class="homeContainer">
<!-- 		<div class="container-text">
			<h1 style="font-size: 6em; border-bottom: 1px solid #212121; margin: 0;">Colt Street.</h1>
		</div> -->
		<div class="container-text logo animated fadeInUp" style="border: none;">
		    <picture>
				<source media="(min-width: 800px)"
			          sizes="80vw"
			          srcset="images/my-logo-color.png">
				<img src="images/my-logo-box-color.png" alt="my-logo"
			       sizes="80vw"
			       srcset="images/my-logo-box-color.png">
			</picture>
	    </div>
	</div>
</div>


<!-- Footer -->
<div ng-include="'views/footer.html'" ng-controller="FooterCtrl"></div>

