<div ng-include="'views/main.html'" ng-controller="MainCtrl" onload="setActivePage('portfolio')"></div>

<div id="divSize" layout="column" layout-align="center stretch" ng-controller="PortfolioCtrl"> 
	<div class="portContainer animated fadeIn">
		<div class="section-text">
			<h1 style="font-size: 3em; margin: 0;">Data Visualizations.</h1>
		</div>
		<div layout="column" layout-align="start center" style="background: whitesmoke;">
			<div class="arrow-down"></div>
		</div>
		<div layout="row" class="viz-container" style="max-height: 500px;">
			<div layout="column" layout-align="start center" style="height: 100%; max-height: 500px; width: 100%;" >
				<div style="height: 100%; max-height: 500px; width: 100%;"><svg style="max-height: 500px" width="100%" height="100%"></svg></div>
			</div>
			<div class="tool-menu"
				ng-show="openTools"
				ng-mouseenter="openTools = true"
				ng-mouseleave="openTools = false">
				<!--Color Tools-->
				<div ng-show="showColorTools">
					<md-subheader class="md-no-sticky" style="background: #4CAF50">Chart Color</md-subheader>
					<div md-color-picker
						style="margin: 5px;"
						ng-model="chartColor"
						ng-change="changeChartColor(chartColor)"
						label="Choose a color"
						default="#9c27b0"
						md-color-generic-palette="false"
						md-color-history="false">
					</div>
					<md-subheader class="md-no-sticky" style="background: #4CAF50">Chart Hover Color</md-subheader>
					<div md-color-picker
						style="margin: 5px;"
						ng-model="chartHoverColor"
						ng-change="changeChartHoverColor(chartHoverColor)"
						label="Choose a color"
						default="#009688"
						md-color-generic-palette="false"
						md-color-history="false">
					</div>
				</div>
				<!--Visual Tools-->
				<div ng-show="showChartTools">
					<md-subheader class="md-no-sticky" style="background: #4CAF50">Choose Visuals to Display</md-subheader>
					<form style="margin: 5px">
						<md-radio-group ng-model="chartData.default" class="md-primary">
							<md-radio-button ng-repeat="d in chartOptions" ng-value="d.value" ng-click="buildChart(d.value)">{{d.label}}</md-radio-button>
						</md-radio-group>
					</form>
				</div>
			</div>
			<div style="width: 5%; height: 100%;" ng-mouseenter="openTools = !openTools" ng-mouseleave="openTools = !openTools">
				<div class="tools" ng-show="openTools" layout="column" layout-align="starter center">
					<div style="padding-top: 5px;">
						<md-button class="md-fab md-small" ng-click="toggleTools('changeChartColor')"><i class="fa fa-paint-brush" aria-hidden="true" aria-label="color change"></i></md-button>
					</div>
					<div style="padding-top: 5px;">
						<md-button class="md-fab md-small" ng-click="toggleTools('changeChartType')"><i class="fa fa-pie-chart" aria-hidden="true" aria-label="color change"></i></md-button>
					</div>
				</div>
			</div>
		</div>
		<div style="text-align: center; margin-left: 10%; margin-right: 10%;">
			<p>This is a very simple example of the different types of visualizations. The data behind these charts visualizes my own proficiencies with each listed language on a scale of 1 - 10. If you mouse over the right hand side of the visual area, a tool bar will open and allow you to change the visual and certain aspects of the visual. Enjoy!</p>
		</div>
		<div class="section-text">
			<h1 style="font-size: 3em; margin: 0;">HoopFire</h1>
		</div>
		<div layout="column" layout-align="start center" style="background: whitesmoke;">
			<div class="arrow-down"></div>
		</div>
		<div layout="column" layout-align="start center" style="margin-top: 2%;">
			<iframe width="900" height="450" 
				src="https://www.youtube.com/embed/4V68yVS4n3M">
			</iframe>
			<div style="text-align: center; margin-left: 10%; margin-right: 10%;">
				<p>HoopFire is a sports prediction web application. Two friends and I came up with the idea a few years back and it has been a pet project ever since.
					It was originally built using Vaadin and was rewritten in 2016. The front end is now built using AngularJS with Angular Material design principles.  
					The data is persisted using Hibernate against a MySQL database with application dependencies being managed by Spring. The application build is handled by Maven. 
					Unfortunately, the application is currently not hosted anywhere, but the code can be found <a href="https://github.com/COLTstreet" target="_blank"> here.</a>
				</p>
			</div>
		</div>
		<!--<div class="section-text">
			<h1 style="font-size: 3em; margin: 0;">Education</h1>
		</div>
		<div layout="column" layout-align="start center" style="background: whitesmoke;">
			<div class="arrow-down"></div>
		</div>
		<div layout="column" layout-align="start center" style="margin-top: 2%;">
		</div>-->
	</div>
</div>

<!-- Footer -->
<div ng-include="'views/footer.html'" ng-controller="FooterCtrl" onload="setActivePage('portfolio')"></div>
